<%= render 'layouts/navbar' %>

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <%= image_tag("slide-01.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Data science on demand.</h1>
          <p class="lead">Find out how a former kaggler helped transform their analytics practice by switching to ask to action...</p>
          <a class="btn btn-large btn-primary" href="./projects.html">Learn More</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide-02.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Business case validation.</h1>
          <p class="lead">12 startups already received funding this year by validating their business models with Ask to Action modeling.</p>
          <a class="btn btn-large btn-primary" href="./businessmodel.html">Check mine out</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide-03.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Landing page optimization.</h1>
          <p class="lead">Learn how Seamless Web improved the conversion rates on their landing page by 150%</p>
          <a class="btn btn-large btn-primary" href="./conversion.html">Tell me more..</a>
        </div>
      </div>
    </div>
   <div class="item active">
      <%= image_tag("slide-01.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Customer segmentation.</h1>
          <p class="lead">One SaaS company recently found over 50% of its revenue was at risk.  What's your exposure?.</p>
          <a class="btn btn-large btn-primary" href="./segmentation.html">Learn More</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide-02.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Growth Plan.</h1>
          <p class="lead">See how a crowdsourced design company recently outsourced their entire growth plan so that they could hit the ground running at launch.</p>
          <a class="btn btn-large btn-primary" href="./growthplan.html">Tell me more..</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slide-03.jpg") %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Churn analysis.</h1>
          <p class="lead">This public company in the EU recently built a churn model to figure out why they were losing 20% of their customer base <strong>monthly</strong></p>
          <a class="btn btn-large btn-primary" href="./churnupsell.html">Tell me more..</a>
        </div>
      </div>
    </div>

  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span3">
      <img class="img-circle" src="/assets/holder.png" alt="140x140" style="width: 140px; height: 140px">
      <h2>Discover</h2>
      <p>What you don't know.  Uncover pockets of high value customers, develop marketing personas, and gain insights into your competitors' success that even they don't know.</p>
      <p><a class="btn" href="./projects.html">Show me »</a></p>
    </div><!-- /.span3 -->
    <div class="span3">
      <img class="img-circle" src="/assets/holder.png" alt="140x140" style="width: 140px; height: 140px">
      <h2>Optimize</h2>
      <p>Your marketing strategy or product usage funnels. As long as there's data, it's all fair game (and then some).<br><br><br></p>
      <p><a class="btn" href="./projects.html">Show me »</a></p>
    </div><!-- /.span3 -->
    <div class="span3">
     <img class="img-circle" src="/assets/holder.png" alt="140x140" style="width: 140px; height: 140px">
     <h2>Validate</h2>
      <p>The key assumptions that drive your business. The value props that resonate with your users (or would be users).<br><br><br></p>
      <p><a class="btn" href="./projects.html">Show me »</a></p>
     </div><!-- /.span3 -->
     <div class="span3">
      <img class="img-circle" src="/assets/holder.png" alt="140x140" style="width: 140px; height: 140px">
      <h2>Execute</h2>
      <p>And drive to action. We are a network of data scientists, business strategists, and product experts.  At your beck and call.<br><br><br></p>
      <p><a class="btn" href="./projects.html">How can we help you? »</a></p>
     </div><!-- /.span3 -->


  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="./Carousel Template · Bootstrap_files/browser-icon-chrome.png">
    <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="./Carousel Template · Bootstrap_files/browser-icon-firefox.png">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="./Carousel Template · Bootstrap_files/browser-icon-safari.png">
    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <%= render 'layouts/footer' %>

</div><!-- /.container -->